.SidebarLayout {
  width: 100%;
  display: flex;
  flex-direction: column;

  .SidebarLayout__Menu {
    display: flex;
    justify-content: space-between;
    width: 100%;;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;

    .SidebarLayout__Sidebar__Title {
      margin-left: 10px;
      padding: 8px;
      padding-left: 12px;
  
      .SidebarLayout__Sidebar__Title__Heading {
        font-size: 20px;
        font-weight: bold;
        color: darkblue;
      }
  
      .SidebarLayout__Sidebar__Title__HeadingName {
        margin-top: 10px;
        font-size: 15px;
      }
    }

    .SidearLayoutMenu__UserSetting {
      padding: 17px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .SidebarLayout__Sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    box-shadow: 0px 0px 2px 0px rgba(169, 169, 169, 0.77);
    min-height: 570px;
  }
  
  .SidebarLayout__Content {
    width: 80%;
    height: 100%;
  }
}
